@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.3vw;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--black-color);
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    background-color: var(--dark-color);
}

body {
    background-color: rgb(18 24 27 / var(--tw-bg-opacity));
    background-image: linear-gradient(
        176deg,
        rgb(18, 24, 27) 50%,
        rgb(32, 39, 55) 100%
    );
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
}

.show {
    animation: slideIn 800ms ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.show:nth-child(2) {
    animation-delay: 300ms;
}

.show:nth-child(3) {
    animation-delay: 600ms;
}

.show:nth-child(4) {
    animation-delay: 900ms;
}
