@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.3vw;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--black-color);
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    background-color: var(--dark-color);
}
