@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.main {
    @apply flex min-h-screen flex-col items-center justify-between p-24;
}

.main-heading {
    @apply text-5xl font-bold;
}

dialog {
    @apply transition-all opacity-0 scale-0;
}

dialog[open] {
    @apply duration-1000 opacity-100 scale-150;
}

.modal {
    @apply rounded-xl flex items-center flex-col;
}

.modal::backdrop {
    @apply bg-slate-600 opacity-90;
}

.neon {
    @apply relative;
}

.neon-blur {
    @apply absolute inset-0 bg-pink-800 blur-xl px-5;
}

.modal-button {
    @apply relative bg-violet-900 hover:bg-violet-700 text-white font-semibold py-2 px-8 rounded-lg transition-colors duration-700 ease-in-out;
}

.modal-heading {
    @apply text-3xl font-bold text-black leading-none;
}
