@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --webiste-width: 100vw;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.3vw;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--black-color);
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    background-color: var(--dark-color);
}

body {
    color: rgb(var(--foreground-rgb));
    @apply max-h-screen overflow-x-hidden bg-gradient-radial from-slate-950 from-60% to-slate-500 bg-cover;
}

.main {
    @apply flex flex-col items-center justify-between p-24;
}

.main-heading {
    @apply text-5xl font-bold;
}

.container {
    @apply m-0;
}
