@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @apply scroll-smooth scroll-p-6 overflow-x-hidden max-w-full !important;
}

html::-webkit-scrollbar {
    width: 0.3vw;
}

html::-webkit-scrollbar-thumb {
    @apply bg-gray-900 rounded-lg;
}

html::-webkit-scrollbar-track {
    background-color: var(--dark-color);
}

body {
    background-color: rgb(18 24 27 / var(--tw-bg-opacity));
    background-image: linear-gradient(
        176deg,
        rgb(18, 24, 27) 50%,
        rgb(32, 39, 55) 100%
    );
}

body {
    @apply min-h-screen overflow-x-hidden mx-auto max-w-full text-gray-200;
}

.container {
    @apply mx-auto min-h-screen items-center text-center max-w-full overflow-x-hidden;
}

.loading-spinner {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[5rem] h-[5rem];
}

.error {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.toTopButton {
    @apply fixed bottom-5 right-5 cursor-pointer px-3 py-5 rounded-full bg-gray-800 border-2 border-zinc-800 transition-all duration-300 ease-in-out z-30;
}

.toTopButton:hover,
.toTopButton:hover svg path {
    @apply bg-zinc-700 fill-indigo-800 border-2 border-indigo-800;
}

.toTopButton svg path {
    @apply fill-indigo-800;
}
